table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-button-delete{
    margin-left: 15px;
}

.search-by-title {
    display: block;
    margin: 20px;
}